.red {
  color: #FF2D00;
}

.orange {
  color: #FF8C00;
}

.blue { 
  color: #3498DB;
}

.redind {
  background-color: #FF2D00;
}

.orangeind {
  background-color: #FF8C00;
}

.blueind { 
  background-color: #3498DB;
}

body {
  background: linear-gradient(316deg, #000000, #160000, #130018, #000000, #080027, #000000);
  background-size: 1400% 1400%;

  -webkit-animation: backgroundGradient 10s ease infinite;
  -moz-animation: backgroundGradient 10s ease infinite;
  -o-animation: backgroundGradient 10s ease infinite;
  animation: backgroundGradient 10s ease infinite;
}

@-webkit-keyframes backgroundGradient {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}

@-moz-keyframes backgroundGradient {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}

@-o-keyframes backgroundGradient {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}

@keyframes backgroundGradient {
  0%{background-position:0 50%}
  50%{background-position:100% 51%}
  100%{background-position:0 50%}
}


#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}