.red {
  color: #FF2D00;
}

.orange {
  color: #FF8C00;
}

.blue { 
  color: #3498DB;
}

.redind {
  background-color: #FF2D00;
}

.orangeind {
  background-color: #FF8C00;
}

.blueind { 
  background-color: #3498DB;
}
.pagenotFound {

  background-color: black;
  color: white;
  text-align: center;

}